# OS / System files
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# VS Code
.vscode/
.history/

# Bash / Shell history
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.wget-hsts

# Code Server specific logs
code-server.log

# Local config folders
.cache/
.config/
.local/
.ssh/

t commit"